.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;
}

div {
  background-color: lightblue;
  border-radius: 5px;
  width: 200px;
  height: 200px;
  cursor: pointer;
}

.hidden {
  background-color: black;
}
